#parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 1%;
    margin: 1%;
    margin-top: 6%;
    grid-row-gap: 2%;
    height: max-content;
}

#div1 { grid-area: 1 / 1 / 4 / 4; }
#div2 { grid-area: 4 / 1 / 7 / 4; }
#div3 { grid-area: 1 / 4 / 7 / 7; }

#div1 h5, #div2 h5{
    filter: blur(0);
}

.povecaj{
    display: block;
}

.margina-mini{
    margin: 5%;
}