<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>
    <div class="footer-klasa rastegni" style="padding: 1px;">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dobro došao, <%= username %>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/odjava">Odjava</a></li>
            </ul>
        </div>
        <div class="" style="padding: 0.5%;">
            <h1>BlogSite</h1>
        </div>
        <div class="" style="display: flex; align-items: center; width: 16%;">

            <a href="#" class="margina-mala">O autoru</a>
            <a href="#">Korištene tehnologije</a>
        </div>
    </div>
    <div class="mainMreza" id="parent">
        <div id="div1" class="centriraj glassmorph">
            <h5>Tekst</h5>
        </div>
        <div id="div2" class="glassmorph centriraj">
            <div style="margin: 2%;">
                <div class="slika">
                    <img src="<%= slika %>" alt="">
                </div>
                <div class="tekst">
                    <h6><%= username %></h6>
                </div>
            </div>
        </div>
        <div id="div3" class="glassmorph">
            <h5>5ekst</h5>
        </div>
    </div>
</body>
</html>