<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <style>
        .promjeni{
            display: flex;
            justify-content: space-around;
            margin-top: 7%;
        }

        .promjeni .card{
            flex: 1;
            text-align: center;
            transition: all 0.3s ease;
        }

        .promjeni .card:hover{
            transform: scale(1.1);
        }

        .promjeni .card:not(:hover){
            transform: scale(0.9);
            transition: all 0.3s ease;
        }
    </style>
</head>
<body>
    <div class="footer-klasa rastegni" style="padding: 1px;">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dobro došao, <%= username %>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/odjava">Odjava</a></li>
            </ul>
        </div>
        <div class="" style="padding: 0.5%;">
            <h1>BlogSite</h1>
        </div>
        <div class="" style="display: flex; align-items: center; width: 16%;">

            <a href="#" class="margina-mala">O autoru</a>
            <a href="#">Korištene tehnologije</a>
        </div>
    </div>
    <div class="promjeni">
        <div class="card" style="width: 18rem;">
            <img src="./Anonimus.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Developer</h5>
              <p class="card-text">Voliš pisati kod i razgovarati o tome. Poznati su ti pojmovovi kao OOP ili NodeJs.</p>
              <a href="/imageSelectRoute?num=1" class="btn btn-primary">Odaberi</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="./Naruton.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gledatelj Serija</h5>
              <p class="card-text">Voliš gledati serije i udubiti se u zanimljive priče koje voliš dijeliti sa drugim istomišljenicima?</p>
              <a href="imageSelectRoute?num=2" class="btn btn-primary">Odaberi</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="./Fredi.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gamer</h5>
              <p class="card-text">Voliš igrati igrice, voditi vlastite svijetove i biti glavni lik. Odaberi gamer da budeš u kategoriji gamera.</p>
              <a href="imageSelectRoute?num=3" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="./Ironman.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gledatelj Filmova</h5>
              <p class="card-text">Voliš gledati filmove i cijeniš kvalitetu preko kvantitete. Filmofil si trebaš ekipu?.</p>
              <a href="imageSelectRoute?num=4" class="btn btn-primary">Odaberi</a>
            </div>
          </div>
    </div>
</body>
</html>